#customers-list {
  display: flex;
  flex-direction: column;

  .customers {
    display: flex;
    flex-direction: column;

    .customer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;

      .data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .row {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;

          p {
            &:first-child {
              font-weight: 700;
            }
          }
        }
      }

      .trash {
        border-radius: 50%;
        background-image: url(../../../assets/icons/trash-bin.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #e5e5e5;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          transform: scale(1.05);
          background-color: #cccccc;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  #customers-list {
    gap: 20px;
    padding: 20px 0;

    .customers {
      gap: 20px;

      .customer {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
        border-radius: 4px;

        .data {
          gap: 10px;

          .row {
            gap: 0 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          align-self: center;

          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #customers-list {
    gap: 20px;
    padding: 20px 0;

    .customers {
      gap: 20px;

      .customer {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
        border-radius: 4px;

        .data {
          gap: 10px;

          .row {
            gap: 0 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          align-self: center;
          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #customers-list {
    gap: 20px;
    padding: 20px 0;

    .customers {
      gap: 20px;

      .customer {
        gap: 20px;
        padding: 20px;
        border-radius: 4px;

        .data {
          max-width: 80%;
          gap: 10px;

          .row {
            gap: 0 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #customers-list {
    gap: 20px;
    padding: 20px 0;

    .customers {
      gap: 20px;

      .customer {
        gap: 20px;
        padding: 20px;
        border-radius: 4px;

        .data {
          max-width: 80%;
          gap: 10px;

          .row {
            gap: 0 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  #customers-list {
    gap: 20px;
    padding: 20px 0;

    .customers {
      gap: 20px;

      .customer {
        gap: 20px;
        padding: 20px;
        border-radius: 4px;

        .data {
          max-width: 80%;
          gap: 10px;

          .row {
            gap: 0 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  #customers-list {
    gap: 20px;
    padding: 20px 0;

    .customers {
      gap: 20px;

      .customer {
        gap: 20px;
        padding: 20px;
        border-radius: 4px;

        .data {
          max-width: 80%;
          gap: 10px;

          .row {
            gap: 0 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  #customers-list {
    gap: 20px;
    padding: 20px 0;

    .customers {
      gap: 20px;

      .customer {
        gap: 20px;
        padding: 20px;
        border-radius: 4px;

        .data {
          max-width: 80%;
          gap: 10px;

          .row {
            gap: 0 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  #customers-list {
    gap: 20px;
    padding: 20px 0;

    .customers {
      gap: 20px;

      .customer {
        gap: 20px;
        padding: 20px;
        border-radius: 4px;

        .data {
          max-width: 80%;
          gap: 10px;

          .row {
            gap: 0 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #customers-list {
    gap: 20px;
    padding: 30px 0;

    .customers {
      gap: 20px;

      .customer {
        padding: 20px;
        border-radius: 8px;

        .data {
          .row {
            gap: 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #customers-list {
    gap: 20px;
    padding: 30px 0;

    .customers {
      gap: 20px;

      .customer {
        padding: 20px;
        border-radius: 8px;

        .data {
          .row {
            gap: 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          background-size: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 2001px) {
  #customers-list {
    gap: 20px;
    padding: 30px 0;

    .customers {
      gap: 20px;

      .customer {
        padding: 20px;
        border-radius: 8px;

        .data {
          .row {
            gap: 5px;

            &:has(h4) {
              margin-bottom: 10px;
            }
          }
        }

        .trash {
          width: 40px;
          height: 40px;
          background-size: 60%;
        }
      }
    }
  }
}
