@import 'src/sass/common';

.input-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;

  input {
    border: none;

    &:active, &:focus {
      outline: 1px dashed $theme-color;
    }
    &::placeholder {
      color: $body-color;
    }
  }
}


@media screen and (max-width: 320px) and (orientation: portrait) {
  .input-container {
    gap: 10px;

    input {
      height: 40px;
      padding: 0 15px;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  .input-container {
    gap: 10px;

    input {
      height: 50px;
      padding: 0 15px;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  .input-container {
    gap: 10px;

    input {
      height: 50px;
      padding: 0 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .input-container {
    gap: 10px;

    input {
      height: 50px;
      padding: 0 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  .input-container {
    gap: 10px;

    input {
      height: 50px;
      padding: 0 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  .input-container {
    gap: 10px;

    input {
      height: 50px;
      padding: 0 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  .input-container {
    gap: 10px;

    input {
      height: 50px;
      padding: 0 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  .input-container {
    gap: 10px;

    input {
      height: 50px;
      padding: 0 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .input-container {
    gap: 10px;

    input {
      height: 60px;
      padding: 0 30px;
      border-radius: 30px;
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  .input-container {
    gap: 10px;

    input {
      height: 60px;
      padding: 0 30px;
      border-radius: 30px;
    }
  }
}

@media screen and (min-width: 2001px) {
  .input-container {
    gap: 10px;

    input {
      height: 60px;
      padding: 0 30px;
      border-radius: 30px;
    }
  }
}