@import "../../../../sass/common";

#counter {
  position: relative;
  background-color: #dbeaf7;

  .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .count {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-weight: 700;
        line-height: 100%;
        color: $title-color;
      }
    }
  }
  img {
    position: absolute;
    animation: rotation 10s infinite linear;
  }
  .counter-after {
    background-image: url(../../../../assets/images/counter-after.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  #counter {
    .content {
      height: fit-content;
      flex-direction: column;
      gap: 25px;
      padding: 50px 0;

      .count {
        max-width: 100%;
        gap: 5px;

        span {
          font-size: 36px;
        }
      }
    }
    img {
      display: none;
    }
    .counter-after {
      width: 100%;
      height: 25px;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #counter {
    .content {
      height: fit-content;
      flex-direction: column;
      gap: 25px;
      padding: 50px 0;

      .count {
        max-width: 100%;
        gap: 5px;

        span {
          font-size: 36px;
        }
      }
    }
    img {
      display: none;
    }
    .counter-after {
      width: 100%;
      height: 30px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #counter {
    .content {
      height: fit-content;
      gap: 25px 0;
      padding: 50px 0;

      .count {
        width: 50%;
        gap: 5px;

        span {
          font-size: 36px;
        }
      }
    }
    img {
      display: none;
    }
    .counter-after {
      width: 100%;
      height: 30px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #counter {
    .content {
      height: fit-content;
      gap: 25px 0;
      padding: 50px 0;

      .count {
        width: 50%;
        gap: 5px;

        span {
          font-size: 60px;
        }
      }
    }
    img {
      width: 90px;
      height: 90px;
      top: -45px;
      left: 0;
    }
    .counter-after {
      width: 100%;
      height: 35px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  #counter {
    .content {
      height: fit-content;
      padding: 50px 0;
      gap: 30px 0;

      .count {
        width: 50%;
        gap: 5px;

        span {
          font-size: 36px;
        }
      }
    }
    img {
      width: 80px;
      height: 80px;
      top: -40px;
      left: 0;
    }
    .counter-after {
      width: 100%;
      height: 30px;
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  #counter {
    .content {
      height: fit-content;
      padding: 50px 0;
      gap: 30px 0;

      .count {
        width: 50%;
        gap: 5px;

        span {
          font-size: 50px;
        }
      }
    }
    img {
      width: 80px;
      height: 80px;
      top: -40px;
      left: 0;
    }
    .counter-after {
      width: 100%;
      height: 30px;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  #counter {
    .content {
      height: fit-content;
      justify-content: space-between;
      gap: 25px 0;
      padding: 50px 0;

      .count {
        gap: 5px;

        span {
          font-size: 60px;
        }
      }
    }
    img {
      width: 90px;
      height: 90px;
      top: -45px;
      left: 0;
    }
    .counter-after {
      width: 100%;
      height: 35px;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  #counter {
    .content {
      height: fit-content;
      gap: 25px 0;
      padding: 50px 0;

      .count {
        width: 50%;
        gap: 5px;

        span {
          font-size: 60px;
        }
      }
    }
    img {
      width: 90px;
      height: 90px;
      top: -45px;
      left: 0;
    }
    .counter-after {
      width: 100%;
      height: 35px;
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #counter {
    .content {
      height: fit-content;
      justify-content: space-between;
      gap: 25px 0;
      padding: 100px 0;

      .count {
        gap: 5px;

        span {
          font-size: 72px;
        }
      }
    }
    img {
      width: 90px;
      height: 90px;
      top: -45px;
      left: 0;
    }
    .counter-after {
      width: 100%;
      height: 40px;
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #counter {
    .content {
      height: fit-content;
      justify-content: space-between;
      gap: 25px 0;
      padding: 100px 0;

      .count {
        gap: 5px;

        span {
          font-size: 72px;
        }
      }
    }
    img {
      width: 90px;
      height: 90px;
      top: -45px;
      left: 0;
    }
    .counter-after {
      width: 100%;
      height: 40px;
    }
  }
}

@media screen and (min-width: 2001px) {
  #counter {
    .content {
      height: fit-content;
      justify-content: space-between;
      gap: 25px 0;
      padding: 100px 0;

      .count {
        gap: 5px;

        span {
          font-size: 72px;
        }
      }
    }
    img {
      width: 90px;
      height: 90px;
      top: -45px;
      left: 0;
    }
    .counter-after {
      width: 100%;
      height: 40px;
    }
  }
}
