@import 'src/sass/common.scss';

h1 {
  font-weight: 700;
  line-height: 100%;
  word-break: break-word;
}

h2 {
  font-weight: 700;
  line-height: 100%;
  word-break: break-word;
}

h3 {
  font-weight: 700;
  line-height: 100%;
  word-break: break-word;
}

h4 {
  line-height: 100%;
  word-break: break-word;
}

span {
  font-weight: 500;
  //line-height: 100%;
  word-break: break-word;
}

.p-big {
  line-height: 1.625;
  padding-top: 1px;
  word-break: break-word;
  display: flex;
  align-items: center;
}

.p-small {
  line-height: 1.625;
  padding-top: 1px;
  word-break: break-word;
}


@media screen and (max-width: 320px) and (orientation: portrait) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
    font-weight: 500;
  }
  span {
    font-size: 20px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
    font-weight: 500;
  }
  span {
    font-size: 20px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 22px;
    font-weight: 500;
  }
  span {
    font-size: 20px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 42px;
  }
  h4 {
    font-size: 22px;
    font-weight: 500;
  }
  span {
    font-size: 20px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 22px;
    font-weight: 500;
  }
  span {
    font-size: 20px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 22px;
    font-weight: 500;
  }
  span {
    font-size: 20px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 42px;
  }
  h4 {
    font-size: 22px;
    font-weight: 500;
  }
  span {
    font-size: 20px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 42px;
  }
  h4 {
    font-size: 22px;
    font-weight: 500;
  }
  span {
    font-size: 20px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 42px;
  }
  h4 {
    font-size: 22px;
    font-weight: 700;
  }
  span {
    font-size: 20px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
  }
  span {
    font-size: 21px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 2001px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
  }
  span {
    font-size: 21px;
  }
  .p-big {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
}