#reviews {
  display: flex;
  flex-direction: column;
  background-color: #DBEAF7;
  position: relative;

  .content {
    display: flex;
    flex-direction: column;

    .swiper {
      padding: 10px;
    }

    .custom-anchor {
      align-self: center;
    }
  }

  &:hover {
    .swiper-pagination, .arrow-left, .arrow-right {
      opacity: 1;
    }
  }

  .cloud-top-right {
    position: absolute;
    z-index: 2;
  }

  .cloud-bottom-left {
    position: absolute;
    z-index: 2;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  #reviews {
    gap: 50px;
    padding: 50px 0;

    .content {
      gap: 20px;

      .swiper-container {
        gap: 20px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -40px;
      right: 0;
      width: 150px;
      height: 60px;
    }

    .cloud-bottom-left {
      bottom: -20px;
      left: 0;
      width: 100px;
      height: 50px;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #reviews {
    gap: 50px;
    padding: 50px 0;

    .content {
      gap: 20px;

      .swiper-container {
        gap: 20px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -55px;
      right: 0;
      width: 200px;
      height: 80px;
    }

    .cloud-bottom-left {
      bottom: -30px;
      left: 0;
      width: 120px;
      height: 60px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #reviews {
    gap: 50px;
    padding: 50px 0;

    .content {
      gap: 30px;

      .swiper-container {
        gap: 30px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -60px;
      right: 0;
      width: 200px;
      height: 80px;
    }

    .cloud-bottom-left {
      bottom: -20px;
      left: 0;
      width: 150px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #reviews {
    gap: 50px;
    padding: 50px 0;

    .content {
      gap: 30px;

      .swiper-container {
        gap: 30px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -55px;
      right: 0;
      width: 200px;
      height: 80px;
    }

    .cloud-bottom-left {
      bottom: -30px;
      left: 0;
      width: 150px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  #reviews {
    gap: 50px;
    padding: 50px 0;

    .content {
      gap: 30px;

      .swiper-container {
        gap: 30px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -60px;
      right: 0;
      width: 200px;
      height: 80px;
    }

    .cloud-bottom-left {
      bottom: -30px;
      left: 0;
      width: 150px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  #reviews {
    gap: 50px;
    padding: 50px 0;

    .content {
      gap: 30px;

      .swiper-container {
        gap: 30px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -55px;
      right: 0;
      width: 200px;
      height: 80px;
    }

    .cloud-bottom-left {
      bottom: -30px;
      left: 0;
      width: 150px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  #reviews {
    gap: 50px;
    padding: 50px 0;

    .content {
      gap: 30px;

      .swiper-container {
        gap: 30px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -55px;
      right: 0;
      width: 200px;
      height: 80px;
    }

    .cloud-bottom-left {
      bottom: -30px;
      left: 0;
      width: 150px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  #reviews {
    gap: 50px;
    padding: 50px 0;

    .content {
      gap: 30px;

      .swiper-container {
        gap: 30px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -55px;
      right: 0;
      width: 200px;
      height: 80px;
    }

    .cloud-bottom-left {
      bottom: -30px;
      left: 0;
      width: 150px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #reviews {
    gap: 100px;
    padding: 50px 0;

    .content {
      gap: 50px;

      .swiper-container {
        gap: 30px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -55px;
      right: 0;
      width: 200px;
      height: 80px;
    }

    .cloud-bottom-left {
      bottom: -30px;
      left: 0;
      width: 150px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #reviews {
    gap: 100px;
    padding: 50px 0;

    .content {
      gap: 50px;

      .swiper-container {
        gap: 30px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -80px;
      right: 0;
      width: 250px;
      height: 120px;
    }

    .cloud-bottom-left {
      bottom: -30px;
      left: 0;
      width: 150px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 2001px) {
  #reviews {
    gap: 100px;
    padding: 50px 0;

    .content {
      gap: 50px;

      .swiper-container {
        gap: 30px;

        .arrows {
          gap: 30px;

          .arrow-left, .arrow-right {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    .cloud-top-right {
      top: -80px;
      right: 0;
      width: 250px;
      height: 120px;
    }

    .cloud-bottom-left {
      bottom: -50px;
      left: 0;
      width: 150px;
      height: 75px;
    }
  }
}

