#services-page {
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    #service {
    }
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  #services-page {
    .services {
      gap: 30px;
      padding: 50px 0;

      #service {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #services-page {
    .services {
      gap: 30px;
      padding: 50px 0;

      #service {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #services-page {
    .services {
      gap: 40px;
      padding: 50px 0;

      #service {
        width: calc(50% - 20px);
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #services-page {
    .services {
      gap: 50px;
      padding: 50px 0;

      #service {
        width: calc(50% - 25px);
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  #services-page {
    .services {
      gap: 40px;
      padding: 50px 0;

      #service {
        width: calc(50% - 20px);
      }
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  #services-page {
    .services {
      gap: 40px;
      padding: 50px 0;

      #service {
        width: calc(50% - 20px);
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  #services-page {
    .services {
      gap: 50px;
      padding: 50px 0;

      #service {
        width: calc(50% - 25px);
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  #services-page {
    .services {
      gap: 50px;
      padding: 50px 0;

      #service {
        width: calc(50% - 25px);
      }
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #services-page {
    .services {
      gap: 50px;
      padding: 100px 0;

      #service {
        width: calc(33% - 30px);
      }
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #services-page {
    .services {
      gap: 50px;
      padding: 100px 0;

      #service {
        width: calc(33% - 30px);
      }
    }
  }
}

@media screen and (min-width: 2001px) {
  #services-page {
    .services {
      gap: 50px;
      padding: 100px 0;

      #service {
        width: calc(33% - 30px);
      }
    }
  }
}
